# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Environment/secrets
.env

# Python build files
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
